@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: #0b0f1a;
  color: #e5e7eb;
}

body.light {
  background-color: #ffffff;
  color: #111827;
}
